# Compiled sources
*.pyc
build/
dist/

# Setup
**.egg*

# Jupyter notebooks
**.ipynb_checkpoints*

# Sphinx documentation
_build

# Editor files
.idea
highway_ppo

# Test files
.pytest_cache
.cache
.json
.vscode

# Outputs
**/out/*